ul {
    list-style: none;
    padding:0;
    margin:0;
}
li { 
padding-left:5px;
text-indent: -.7em;
}
li:before {
    content: "• ";
    color: #71B47A;
	font-size:38px;
	position:relative;
	top:9px;
	left:5px;
}
.NoAct{
color:red;
}
table {
background-color:#595959;
}
body{
font-size:11px;
font-family:arial;
font-weight:500;
margin:0;
}
td:first-child{
font-style:italic;
color:#FFF;
}
.yellow{
color:#ECE3A3;
}
.gray{
color:#A0ADB2;
}
body > table > tbody > tr:nth-child(5) > td:nth-child(2){
color:#E16A25;
}
td{
padding:4px;
}

th{
margin-top:5px;
position:absolute;
float:left;
font-weight:500;
font-size:1.5em;

}
body > table > tbody > tr:nth-child(1) > td:nth-child(1), body > table > tbody > tr:nth-child(1) > td:nth-child(2) > ul > li{
padding-top:16px;
}
body > table > tbody > tr:nth-child(1) > td:nth-child(2) > ul > li{
width:190px;
}
body > table > tbody > tr:nth-child(4) > td:nth-child(1){
vertical-align: text-top;
}
body > table > tbody > tr:nth-child(1) > td:nth-child(2) > span{
position:relative;
bottom:5px;
margin-left:5px;
}

