body{
margin:0; 
font-family:arial;

}
div.content{
width:610px;
	height:325px;
	border:1px solid #00968C;
	border-radius:5px;
}
.content nav div{
display:inline-block;
background-color:rgba(255,255,255,0.2);
padding-top:7px;
padding-bottom:7px;
padding-left:12px;
padding-right:11px;
margin-top:8px;
color:#7DA2B0;
font-size:12px;   
font-weight:500;
margin-bottom:10px;
margin-left:-3px;
margin-right:0;
}
.content nav div a{
color:#7DA2B0;
text-decoration:none;
}
.content nav div a:hover{
text-decoration:underline;
}
body > div > nav > div:nth-child(1){
background:none;
}
body > div > nav > div:nth-child(1) a{
color:#fff;
}
.left{
width:40%;
float:left;
color:#a9c4d1;
font-size:13px;
	
}
.left div{
padding:10px;
border-bottom:1px solid #a9c4d1;
}
div.date{
border-bottom:none;
}
body > div > div.left > div:nth-child(5){
border-bottom:none;
}
.video{
    float:right;
	width:60%;
    }
	
.content
{
 background:#1E3741;
 }
 .date{
 color:#FFF;
 background-color:#00968C;
 }
